@font-face {
    font-family: cordel;
    src: url(pacote-d012/PassionOne-Bold.ttf);
}
@font-face {
    font-family: blz;
    src: url(pacote-d012/Sriracha-Regular.ttf);
}
*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
header > h1{
    color: white;
    padding: 15px;
    text-align: center;
    font-family: cordel;
}
header > p{
    color: white;
    text-align: center;
}
section{
    padding: 20px;
    padding-left: 25px;
    font-family: blz;
    font-size: 2vw;
}
section.imagem{
    background-color: aqua;
    color: white;
}
section#se1{
    background-image: url(pacote-d012/imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
  
    background-attachment: fixed;
}
section#se2{
    background-image: url(pacote-d012/imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}
